body { background-color: white; }
.top-section {
  width: 400px;
  border: 1px solid black;
}

.top-section h1 {
  font-size: 20px;
}

.top-section p {
  text-align: center;
  border: 1px solid red;
}

section {
  font-family: 'Menlo';
}

img {
  height: 200px;
  border: 2px solid green;
}

a.link {
  color: black;
}

a.link:hover {
  color: blue;
}

a.link:visited {
  color: yellow;
}

section p {
  font-size: 13px;
}

section.second-section {
 background-color: #9eb2d1;
}

a {
  color: red;
}

a:hover {
  color: blue;
  text-transform: uppercase;
}

a:visited {
  color: pink;
}
