<div class="top-section">
  <div>
    <h1>
      <p class="welcome-text">Welcome to my page</p>
    </h1>
  </div>
</div>

<div class="top-section" id="unique-for-the-page"></div>

<div class="content">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore</p>
    <p>Another paragraph</p>
</div>
