<section id="header">
  <h1>John's Page</h1>
  <!-- Here we add hyperlinks -->
  <a href="#about-me">About me</a>
  <a href="#projects">Projects</a>
  <a href="#contact">Contact</a>
  <a href="#greetings">Greetings</a>
</section>
<hr>
<section id="about-me">
  <h3>About me</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi nisi, faucibus quis efficitur eget, semper ut nisi. Praesent porta eget urna sit amet porttitor. Sed lacus dolor, ullamcorper id imperdiet ut, condimentum quis nisi. Phasellus nunc ante, scelerisque at pretium ac, imperdiet non neque. Nullam pulvinar eget massa molestie tempus. Duis vitae dignissim turpis. Sed in sem urna. Cras dapibus, orci nec condimentum faucibus, libero nisl scelerisque elit, nec faucibus lacus nibh vel risus.</p>

  <p>Vivamus consequat ut nibh ut tincidunt. Quisque tempus et augue in ultrices. Nulla rutrum sollicitudin sapien, vitae fermentum neque semper sed. Nullam lobortis dignissim lorem vel varius. Quisque vel lorem ac velit commodo mollis. Pellentesque ac lorem lacus. Fusce auctor mattis nisi, sit amet sagittis lectus imperdiet non.</p>

  <p>Nulla vestibulum tincidunt quam sed dapibus. Cras at lectus eros. Nam accumsan sagittis leo et finibus. Nullam rhoncus porta purus, at posuere magna. Morbi consectetur nec felis vel tempor. Integer volutpat leo ac nisl sodales, eget fermentum quam sodales. Duis non blandit orci. Cras sit amet nisl id erat tincidunt iaculis. Donec rhoncus felis in tortor accumsan tempus. Nunc non massa condimentum, pharetra orci id, iaculis diam. Nunc suscipit et dolor et molestie. Cras vel magna ultrices lectus aliquet aliquam. Fusce vehicula ipsum id ipsum porta, volutpat convallis libero fermentum. Nam rhoncus dui id pulvinar viverra. Cras interdum tempor enim at aliquet. Mauris sed dui volutpat, porttitor odio id, porta libero.</p>

  <p>Nullam aliquet orci turpis, a ornare nisi imperdiet in. Phasellus id odio ullamcorper, cursus quam at, gravida quam. Donec eu libero fermentum, sollicitudin ligula sed, rhoncus dolor. Curabitur quis tincidunt justo. Donec tristique eget urna sit amet scelerisque. Aenean pulvinar lorem massa, in viverra nisi dignissim a. Duis arcu lacus, condimentum quis dolor eu, euismod dapibus risus. Nulla tempor vel tortor in fringilla. Curabitur in lacus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum pulvinar lacus ut turpis hendrerit sagittis vitae vitae lacus. Duis rutrum sapien molestie, tempor elit eget, sodales nisi. Mauris sed tellus ac risus molestie pulvinar. Suspendisse quam libero, vulputate eget varius in, dapibus et augue. Quisque eu sagittis libero, id tristique turpis.</p>

  <p>In semper, lectus eu rhoncus pulvinar, metus diam sagittis lorem, vehicula tincidunt quam felis eget enim. Sed quam ligula, convallis et elementum a, elementum nec arcu. Fusce pretium nisi nec egestas pellentesque. Nam feugiat vitae tortor eget vestibulum. Proin sed dignissim risus. Nam vehicula velit ut arcu sollicitudin, vitae tempus nunc tempus. Nullam sit amet lectus odio. Pellentesque at consectetur dolor. Nam auctor urna eros, vel ultricies mauris pharetra eu. Quisque vestibulum nisi non lectus tristique, vitae tempus turpis feugiat. Duis hendrerit tristique ipsum. Sed luctus massa et ligula aliquam finibus.</p>
  <a href="#header">Back to top</a>
</section>
<hr>
<section class="second-section" id="projects">
  <h3>Projects done</h3>
  <ul>
    <li>Operators and variables</li>
    <li>Strings, Arrays and Hashes</li>
    <li>Classes and inheritance</li>
    <li>Sinatra web app</li>
  </ul>
  <a href="#header">Back to top</a>
</section>
<hr>
<section id="contact">
  <h3>Contact</h3>
  <p>You can find me every Tuesday from 7 to 9 PM at the Contentful office, where the RailsGirls meeting is</p>
  <p>You can find me on Slack <code>@johnmariogz</code></p>
  <a href="#header">Back to top</a>
</section>
<hr>
<section class="second-section" id="greetings">
  <h3>Greetings</h3>
  <p>If you want to e-mail me, you can do it via the RailsGirls Slack :)</p>
  <a href="#header">Back to top</a>
</section>
